.reading h3 {
    text-align: center;
    border-bottom: 2px solid rgba(150, 150, 150, 0.271);
    padding: 25px 0;
}

.reading-books {
    display: flex;
    text-align: center;
    padding: 10px;
}

.reading-book__main {
    padding: 30px 10px;
    margin: 0 10px;
    cursor: pointer;
    border: 1px solid rgba(142, 142, 142, 0.281);
}

.reading-book__main:hover {
    box-shadow: 0px 50px 80px 1px rgba(113, 113, 113, 0.092);
}

.reading-books div img {
    width: 75%;
}

.reading-book__caption span p {
    color: rgb(84, 162, 0);
}

.reading-book__caption span {
    font-weight: 700;
}

.discount {
    position: absolute;
    background-color: rgb(35, 109, 37);
    color: whitesmoke;
    font-weight: 700;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-left: 16%;
}

.discount-mony p {
    padding: 0 10px;
    text-decoration: line-through;

}

.discount-mony {
    display: flex;
    justify-content: center;
    padding: 0 10px;
    font-weight: 600;
}

.discount-mony div {
    color: rgb(23, 133, 27);

}

.discount-mony p {
    color: rgba(0, 0, 0, 0.351) !important;
}