.footer {
    width: 100%;
    height: fit-content;
    background-color: rgba(51, 51, 51, 0.142);
    margin-top: 50px;
    padding: 20px;
    text-align: end;
}

.footer .links ul {
    list-style: none;
}

.links {
    display: flex;
    justify-content: flex-end;
}


.links div {
    padding: 0 60px;
}

.links>div:nth-child(3) {
    padding: 0 25px;
}


.links div h4{
    font-size: 19px;
    color: rgba(32, 32, 32, 0.786);
    font-weight: 900;
}
.links ul {
    font-size: 16px;
    margin-top: 17px;
}
.links ul li{
    margin: 7px 0;
}
.links ul li a{
    font-weight: 900;
    text-decoration: none;
    color: rgba(118, 118, 118, 0.679);

}
.site-caption{
    display: flex;
    align-items: center;
}

.site-caption div{
    margin-top: 17px;
    width: 50%;
}
.site-caption p{
    font-size: 14px;
    color: rgb(134, 134, 134);
}